rofi.rasi
terminal.omp.json
vbam.ini
melonDS_conf
azahar_config
ryujinx.json
accesos_directos/advance_renamer.desktop
accesos_directos/genshin_impact.desktop
accesos_directos/memes.desktop
accesos_directos/mp3tag.desktop
accesos_directos/pkvault.desktop
accesos_directos/pkhex.desktop
pkfinder.conf
pkfinder-profiles.json
Firmware.22.5.0.zip